<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
                <property name="url" value="jdbc:oracle:thin:@192.9.100.7:1521:bhhdqtls?useServerPrepStmts=true"/>
                <property name="username" value="dbusrmkt"/>
                <property name="password" value="futuremkt"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!-- <mapper resource="com/future/test/tGrUserMapper.xml"/> -->
        <package name="com.future.mapper"/>
    </mappers>
</configuration>